<%= form_for :user, url:users_path do |f| %>
	<% if @user.errors.any? %>
	 <% @user.errors.full_messages.each do |msg| %>
	 	<li><%=msg%></li>
	   <%end%>
	 <%end%>

  <p><%= f.label "First name" %></p>
  <%= f.text_field :firstname %><br />

  <p><%= f.label "Last name" %></p>
  <%= f.text_field :lastname %><br />
 
 <p><%= f.label "E-mail" %></p>
  <%= f.text_field :email %><br />

<p><%= f.label "age" %></p>
  <%= f.text_field :age %><br />

<p><%= f.label "gender" %></p>
  <%= f.select :gender, ['male','female'] %><br />
  
 <p><%= f.label "Password" %></p>
  <%= f.password_field :password %><br />

 <p><%= f.label "Phone number" %></p>
  <%= f.text_field :phone %><br /> 

<p><%= f.label :avatar %></p>
    <%= f.file_field :avatar %> 

<p><%= f.label "country" %></p>
  <%= f.select :country, ['Ukraine','USA','Russia','England','China'] %><br />

<p><%= f.label "city" %></p>
  <%= f.text_field :city %><br />

<p><%= f.label "street" %></p>
  <%= f.text_field :street %><br />

<p><%= f.label "adress" %></p>
  <%= f.text_field :apt %><br />

<p><%= f.label "link" %></p>
  <%= f.text_field :link %><br />

  <p><%= f.submit "Save" %></p>
<% end %>